/* Footer container */
footer {
  background-color: var(--color3);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  color: var(--color1);
}

/* Footer column */
.footer-column {
  flex: 1 1 300px; /* Adjust width as needed */
  margin-bottom: 30px;
}

/* Footer widget styles */
.footer-widget {
  margin-bottom: 30px;
}

.footer-widget h2 {
  font-size: 20px;
  margin-bottom: 15px;
  width: fit-content;
  border-bottom: 2px solid var(--color3_1);
}

.footer-widget p {
  font-size: 14px;
  margin-bottom: 15px;
  color: var(--color4);
}

/* Footer service list styles */
.footer-service-list {
  padding-left: 0;
}

.footer-service-list li {
  list-style: none;
  margin-bottom: 5px;
}

.footer-service-list a {
  text-decoration: none;
  font-size: 14px;
  color: var(--color4);
}

/* Social links styles */
.social-links {
  padding-left: 0;
  margin-top: 20px;
}

.social-links li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

.social-links a {
  font-size: 2rem;
  color: var(--color1);
}

/* Scroll-to-top button styles */
.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--color1);
  color: var(--color3);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  animation: imageAnimatation 0.7s infinite linear alternate;
}

.scroll-top:hover {
  color: var(--color1);
  background-color: var(--color3_1);
}

.contact li {
  /* color: rgba(#000000, 0.2); */
  color: var(--color4);
}

.mail {
  padding-top: 10px;
}
