.product-container {
  padding: 2rem;
}

.product {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 2rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.grid-two-column {
  grid-template-columns: 1fr 2fr;
}

.product-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-data {
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.product-description {
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: justify;
}

.delivery-info {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.delivery-icon {
  font-size: 2.5rem;
  color: #ffc107;
  margin-right: 0.5rem;
}

.delivery-text {
  font-size: 1.2rem;
  color: #6c757d;
  margin-top: 15px;
}

.product-rating {
  display: flex;
}
